/*
 Theme Name:	Twenty Fourteen jakub
 Description:	Modification of Twenty Fourteen Template by customize little bit styles.
 Author:		Jakub Gracz
 Template:		twentyfourteen
 Version:		0.0.1
 License:		GNU General Public License v2 or later
 License URI:	http://www.gnu.org/licenses/gpl-2.0.html
 Tags:			blog, news, two-columns, three-columns, left-sidebar, right-sidebar, custom-background, custom-header, custom-menu, editor-style, featured-images, flexible-header, footer-widgets, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready, accessibility-ready
 Text Domain:	twentyfourteen-child

 This theme, like WordPress, is licensed under the GPL.
 Use it to make something cool, have fun, and share what you've learned with others.
*/

/* change color theme of search box, add fluent transition */

.search-toggle {
	-webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-o-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
	background: #ff0000;
}

.search-toggle:hover {
	background: #ff6565;
}

.search-toggle.active {
	background: #ff0000;
}

.search-box {
	background: #ff0000;
}

/* change color theme of navigation, add fluent transition */

.primary-navigation li > a {
	-webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-o-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
}